<div class="home-page">
    <div class="row">
        <div class="col-xs-12 col-sm-6">Content separated</div>
        <div class="col-xs-12 col-sm-6">In two equally wide columns</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12 col-sm-3">Different</div>
        <div class="col-xs-12 col-sm-4">Column</div>
        <div class="col-xs-12 col-sm-5">Widths</div>
    </div>
</div>
