<div class="container home-page">
    <div class="row">
        <div class="col-lg-6">Content separated</div>
        <div class="col-lg-6">In two equally wide columns</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-3">Different</div>
        <div class="col-lg-4">Column</div>
        <div class="col-lg-5">Widths</div>
    </div>
</div>
